NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDyGoCbWzwGlsTg8DB6xdn0ynqRWhqVzlg"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="smit-mini-hackathon-2.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="smit-mini-hackathon-2"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="smit-mini-hackathon-2.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="951111643157"
NEXT_PUBLIC_FIREBASE_APP_ID="1:951111643157:web:7eef05884c0b0c5e6f5e1c"
GEMINI_API_KEY=""
